.day {
    background-color: #fff;
    color: #000;
}

.night {
    background-color: #000;
    color: #fff;
}

.button_day {
    background-color: #007bff;
    color: #fff;
}

.button_night {
    background-color: #fff;
    color: #000;
}
